[submodule ".zsh/zsh-history-substring-search"]
	path = .zsh/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule ".urxvt/urxvt-perls"]
	path = .urxvt/urxvt-perls
	url = https://github.com/muennich/urxvt-perls.git
[submodule ".vim/bundle/rainbow_parentheses"]
	path = .vim/bundle/rainbow_parentheses
	url = https://github.com/kien/rainbow_parentheses.vim.git
[submodule ".vim/bundle/vim-airline"]
	path = .vim/bundle/vim-airline
	url = https://github.com/bling/vim-airline.git
